:root {
  --mainBlue: #4527a0;
  --lightBlue: #5e35b1;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainBackground: #ede7f6;
  --cartBtn: #ede7f6;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainBackground) !important;
  color: var(--mainDark) !important;
}

.textTitle {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.textBlue {
  color: var(--mainBlue);
}

.textBright {
  color: var(--lightBlue);
}

.imgDetail {
  border: 5px solid var(--lightBlue);
  padding: 10px;
}
