:root {
  --mainBlue: #311b92;
  --lightBlue: #5e35b1;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainBackground: #ede7f6;
  --cartBtn: #ede7f6;
  --lightPurple: #b39ddb;
}

body {
  font-family: 'Roboto', sans-serif !important;
  background: var(--mainBackground) !important;
  color: var(--mainDark) !important;
}

.textTitle {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

.textBlue {
  color: var(--mainBlue);
}

.textBright {
  color: var(--lightBlue);
}

.imgDetail {
  border: 5px solid var(--lightBlue);
  padding: 10px;
}

.btnPurple {
  background: transparent;
  font-size: 0.8rem !important;
  color: var(--lightBlue);
  border-radius: 0 !important;
  border: 0.1rem solid var(--lightBlue) !important;
}

.btnPurple:hover {
  background: var(--lightBlue) !important;
  color: var(--mainWhite) !important;
}

.cartIcon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainBlue);
}

